In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections 
import calendar
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1567,tt0332452,175000000,497409852,Troy,Brad Pitt|Orlando Bloom|Eric Bana|Brian Cox|Se...,Wolfgang Petersen,For passion. For honor. For destiny. For victo...,"In year 1250 B.C. during the late Bronze age, ...",163,War|Adventure|Drama,Plan B Entertainment|Warner Bros.|Nimar Studio...,5/13/2004,6.8,2004
115,tt2358925,35000000,14431253,Unfinished Business,Vince Vaughn|Dave Franco|James Marsden|June Di...,Ken Scott,Best business trip ever.,A hard-working small business owner and his tw...,90,Comedy,Studio Babelsberg|Regency Enterprises|Escape A...,3/5/2015,4.9,2015
145,tt2179136,58800000,542307423,American Sniper,Bradley Cooper|Sienna Miller|Kyle Gallner|Cole...,Clint Eastwood,The most lethal sniper in U.S. history.,U.S. Navy SEAL Chris Kyle takes his sole missi...,134,War|Action,Village Roadshow Pictures|Malpaso Productions|...,12/11/2014,7.5,2014
148,tt1587310,180000000,758410378,Maleficent,Angelina Jolie|Elle Fanning|Juno Temple|Sharlt...,Robert Stromberg,Don't believe the fairy tale.,The untold story of Disney's most iconic villa...,97,Fantasy|Adventure|Action|Family|Romance,Walt Disney Pictures|Roth Films,5/28/2014,7.0,2014
949,tt0270288,30000000,33013805,Confessions of a Dangerous Mind,Sam Rockwell|Drew Barrymore|Julia Roberts|Rutg...,George Clooney,Some things are better left top secret.,"Television made him famous, but his biggest hi...",113,Comedy|Crime|Drama|Romance|Thriller,Miramax Films|Allied Filmmakers|Mad Chance,12/30/2002,6.4,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data.release_date = pd.to_datetime(data.release_date)
data['profit'] = data.revenue - data.budget
data['month'] = data.release_date.apply(lambda x: calendar.month_abbr[x.month])
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'  # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data.budget == data.budget.max(), ['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [9]:
data.loc[data.runtime == data.runtime.max(), ['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [11]:
data.loc[data.runtime == data.runtime.min(), ['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'

In [15]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [17]:
data.loc[data.profit == data.profit.max(), ['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [19]:
data.loc[data.profit == data.profit.min(), ['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'

In [21]:
data.query('profit>0').imdb_id.nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [23]:
data.query('release_year=="2008"').sort_values('profit', ascending=False).iloc[0]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                          2008-07-16 00:00:00
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
month                                                                 Jul
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [25]:
data.query('2012<=release_year<=2014').sort_values('profit').iloc[0]

imdb_id                                                         tt1210819
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                          2013-07-03 00:00:00
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
month                                                                 Jul
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '3. Drama'

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common()[0][0]

'Drama'

ВАРИАНТ 2

In [28]:
dic_genres = {}
for i in data.genres:
    list_genres = i.split('|')  # получили список жанров
    for genre in list_genres:
        # Подсчет всех значений из списка через словарь
        if genre in dic_genres:
            dic_genres[genre] += 1
        else:
            dic_genres[genre] = 0


pop_genre = ''
max_num = 0
for key, value in dic_genres.items():
    if value > max_num:
        max_num = value
        pop_genre = key
print(pop_genre)

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'

In [30]:
collections.Counter(data.query('profit>0').genres.str.cat(sep='|').split('|'))\
            .most_common()[0][0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = '5. Peter Jackson'

In [32]:
# Так как в столбце режиссеров содержатся несколько режиссеров в одной строке,
# то мы не можем применить метод groupby
data_copy = data.copy()
data_copy['director'] = data_copy['director'].apply(lambda x: x.split('|'))
data_copy.explode('director').groupby('director')['profit'].sum()\
            .sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez'

In [34]:
data_dir_action = data.copy()
data_dir_action['director'] = data_dir_action['director'].apply(lambda x: x.split('|'))
data_dir_action['genres'] = data_dir_action['genres'].apply(lambda x: x.split('|'))
data_dir_action.explode('genres').explode('director').query('genres=="Action"').groupby('director')['genres']\
                .count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = '3. Chris Hemsworth'

In [36]:
data_cast = data.query('release_year == "2012"')
data_cast['cast'] = data_cast.cast.str.split('|')
data_cast.explode('cast').groupby('cast')['revenue'].sum().sort_values(ascending=False).index[0]

<ipython-input-36-b9c9e28b6ce5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cast['cast'] = data_cast.cast.str.split('|')

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = '3. Matt Damon'

In [38]:
data_cast = data.copy()
data_cast['cast'] = data_cast.cast.str.split('|')
data_cast.explode('cast')\
        .query('budget>budget.mean()')\
        .groupby('cast')['original_title']\
        .count()\
        .sort_values(ascending=False)\
        .index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '2. Action'

In [40]:
data_nic = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data_nic.genres.str.cat(sep='|').split('|')).most_common()[0][0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [42]:
data[data.production_companies.str.contains("Paramount Pictures")].query('profit<0').sort_values('profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,Jul
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,2003-11-26,5.1,2003,-60519261,Nov
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,2007-04-24,5.9,2007,-51788987,Apr
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,2004-10-22,5.4,2004,-46604061,Oct
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2004-02-27,5.7,2004,-24805000,Feb
587,tt0249478,75000000,54249294,Domestic Disturbance,John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...,Harold Becker,He will do anything to protect his family.,A divorced father discovers that his 12-year-o...,89,Mystery|Thriller|Crime,Paramount Pictures,2001-10-30,5.4,2001,-20750706,Oct
667,tt0811138,62000000,41819064,The Love Guru,Mike Myers|Jessica Alba|Justin Timberlake|Roma...,Marco Schnabel,His Karma is Huge,Born in America and raised in an Indian ashram...,87,Comedy|Romance,Paramount Pictures|Goldcrest Pictures|Internat...,2008-06-20,4.5,2008,-20180936,Jun
1059,tt0763831,40000000,22044277,A Thousand Words,Eddie Murphy|Allison Janney|Cliff Curtis|Clark...,Brian Robbins,He only has 1000 words left to discover what m...,"Jack McCall is a fast-talking literary agent, ...",91,Drama|Comedy,Paramount Pictures|DreamWorks SKG|Saturn Films...,2012-03-07,5.8,2012,-17955723,Mar
436,tt0964517,25000000,9190869,The Fighter,Mark Wahlberg|Christian Bale|Amy Adams|Melissa...,David O. Russell,Every dream deserves a fighting chance.,"The Fighter, is a drama about boxer ""Irish"" Mi...",116,Drama,Paramount Pictures,2010-12-17,7.1,2010,-15809131,Dec
959,tt0267248,25000000,10719357,Abandon,Katie Holmes|Benjamin Bratt|Charlie Hunnam|Zoo...,Stephen Gaghan,Watch who you leave behind.,A psychological thriller about a senior at one...,99,Drama|Mystery|Thriller,Paramount Pictures|Spyglass Entertainment|Touc...,2002-10-14,4.9,2002,-14280643,Oct
1660,tt0324127,27000000,13000000,Suspect Zero,Carrie-Anne Moss|Aaron Eckhart|Ben Kingsley|Ha...,E. Elias Merhige,Who's next?,"A killer is on the loose, and an FBI agent sif...",99,Crime|Thriller,Paramount Pictures|Cruise/Wagner Productions|L...,2004-08-27,5.1,2004,-14000000,Aug
961,tt0261289,29000000,16930185,Serving Sara,Matthew Perry|Elizabeth Hurley|Vincent Pastore...,Reginald Hudlin,The One Thing That Could Bring Them Together I...,Serving Sara is a 2002 romantic comedy film wh...,100,Comedy|Romance,Paramount Pictures,2002-08-20,5.1,2002,-12069815,Aug
1589,tt0346156,70000000,57958696,Sky Captain and the World of Tomorrow,Jude Law|Gwyneth Paltrow|Giovanni Ribisi|Angel...,Kerry Conran,Who will save us?,"When gigantic robots attack New York City, ""Sk...",107,Mystery|Action|Thriller|Science Fiction|Adventure,Paramount Pictures|Natural Nylon Entertainment...,2004-09-17,5.7,2004,-12041304,Sep
1405,tt0318649,130000000,119269486,Sahara,Matthew McConaughey|PenÃ©lope Cruz|Steve Zahn|...,Breck Eisner,Dirk Pitt. Adventure has a new name.,Scouring the ocean depths for treasure-laden s...,124,Action|Adventure|Comedy|Drama|Mystery,Paramount Pictures|Bristol Bay Productions|Bal...,2005-04-06,5.6,2005,-10730514,Apr
1325,tt0402022,62000000,52304001,Ã†on Flux,Charlize Theron|Marton Csokas|Jonny Lee Miller...,Karyn Kusama,The Perfect World Meets The Perfect Assassin,"400 years into the future, disease has wiped o...",93,Action|Science Fiction,Paramount Pictures|Lakeshore Entertainment|MTV...,2005-11-30,5.3,2005,-9695999,Nov
180,tt1205537,60000000,50549107,Jack Ryan: Shadow Recruit,Chris Pine|Keira Knightley|Kevin Costner|Nonso...,Kenneth Branagh,Trust no one.,"Jack Ryan, as a young covert CIA analyst, unco...",105,Action|Drama|Thriller,Paramount Pictures|Di Bonaventura Pictures|Mac...,2014-01-15,5.9,2014,-9450893,Jan
1390,tt0384680,20000000,12482775,The Weather Man,Nicolas Cage|Michael Caine|Hope Davis|Gemmenne...,Gore Verbinski,Dave Spritz is about to take his best shot . ....,"A Chicago weather man, separated from his wife...",101,Comedy|Drama,Paramount Pictures|Escape Artists|Kumar Mobili...,2005-10-20,5.7,2005,-7517225,Oct
1533,tt0408985,45000000,38399961,Last Holiday,Queen Latifah|LL Cool J|Timothy Hutton|Giancar...,Wayne Wang,She always thought she was somebody special......,"After she's diagnosed with a terminal illness,...",112,Adventure|Comedy|Drama,Paramount Pictures,2006-01-13,6.4,2006,-6600039,Jan
944,tt0240510,35000000,29882645,The Four Feathers,Heath Ledger|Wes Bentley|Kate Hudson|Djimon Ho...,Shekhar Kapur,Freedom. Country. Honor. Passion. To save his ...,"The story, set in 1875, follows a British offi...",132,War|Adventure|Drama|Romance,Paramount Pictures|Miramax Films|Marty Katz Pr...,2002-09-08,6.4,2002,-5117355,Sep
1355,tt0368709,57000000,52034889,Elizabethtown,Orlando Bloom|Kirsten Dunst|Susan Sarandon|Ale...,Cameron Crowe,It's a heck of a place to find yourself,Drew Baylor is fired after causing his shoe co...,123,Comedy|Drama|Romance,Paramount Pictures|Cruise/Wagner Productions|V...,2005-09-03,6.0,2005,-4965111,Sep
1068,tt1663143,14000000,11417362,Fun Size,Victoria Justice|Jackson Nicoll|Chelsea Handle...,Josh Schwartz,Some people just can't handle Halloween.,Wren (Victoria Justice) is invited to a Hallow...,87,Comedy,Paramount Pictures|Nickelodeon Movies|Anonymou...,2012-10-25,5.4,2012,-2582638,Oct

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '5. 2015'

In [44]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '1. 2014'

In [46]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit']\
                                                            .sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '4. Сентябрь'

In [48]:
data.groupby('month')['original_title'].count().sort_values(ascending=False).index[0]

'Sep'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '2. 450'

In [50]:
data.query('month==["Jun","Jul","Aug"]').original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = '5. Peter Jackson'

In [52]:
data_director = data.copy()
data_director['director'] = data.director.apply(lambda x: x.split('|'))
data_director.explode('director').query('month == ["Dec", "Jan", "Feb"]').groupby('director')['original_title'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = '5. Four By Two Productions'

In [54]:
data_len = data.copy()
data_len['length'] = data_len.original_title.apply(lambda x: len(x))
data_len['production_companies'] = data_len.production_companies.apply(lambda x: x.split('|'))
data_len.explode('production_companies').groupby('production_companies')['length'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = '3. Midnight Picture Show'

In [56]:
data_len_over = data.copy()
data_len_over['length_over'] = data_len_over.overview.apply(lambda x: len(x))
data_len_over['production_companies'] = data_len_over.production_companies.apply(lambda x: x.split('|'))
data_len_over.explode('production_companies').groupby('production_companies')['length_over'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [58]:
one_percent = np.quantile(data.vote_average, 0.99)
data.query('vote_average>@one_percent').original_title.sort_values().to_list()

['12 Years a Slave',
 'Gone Girl',
 'Guardians of the Galaxy',
 'Inception',
 'Inside Out',
 'Interstellar',
 'Memento',
 'Room',
 'The Dark Knight',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'The Lord of the Rings: The Return of the King',
 'The Pianist',
 'The Wolf of Wall Street']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [60]:
couple_actors = data['cast'].apply(lambda x: list(itertools.combinations(x.split('|'), 2)))
couple_actors = collections.Counter(couple_actors.explode()).most_common()[0]
couple_actors

(('Daniel Radcliffe', 'Rupert Grint'), 8)

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27